{% extends "layout.html" %}

{% block title %}
    Home Page
{% endblock %}

{% block main %}
<div class="container">
    <h1>Witam w Policyjnej Bazie Danych</h1>
    <p>To jest strona główna bazy, możesz tu znaleźć aktualności dotyczące departamentu policji.</p>
    <p>W celu dostępu do zakładek wyszukiwania osób, zdarzeń i pojazdów, musisz posiadać autoryzację poziomu 2 lub więcej.</p>
    {% if wrong == 1 %}
    <div class="error-message">Insufficient authorization level</div>
    {% endif %}
</div>
{% endblock %}