{% extends "layout.html" %}

{% block title %}
    Radiowozy
{% endblock %}

{% block main %}

<script>
    $(function() {
        var availableTags = [
            {% for radiowoz in all %}
                ["{{ radiowoz[4] }}", "{{ radiowoz[3] }}"],
            {% endfor %}
        ];

        var uniqueModels = Array.from(new Set(availableTags.map(function(item) {
            return item[0];
        })));

        var uniqueKolor = Array.from(new Set(availableTags.map(function(item) {
            return item[1];
        })));

        $("#model").autocomplete({
            source: uniqueModels.slice(0, 7)
        });

        $("#kolor").autocomplete({
            source: uniqueKolor.slice(0, 7)
        });
    });
</script>

<div class="form-container" style="margin-left: 17%; margin-right: 17%; margin-bottom: 2%">
    <form action="/radiowozy" method="post">
        <div class="row">
             <div class="col">
                <div class="mb-3">
                    <label for="model">Model:</label>
                    <input autocomplete="off" class="form-control mx-auto w-auto" id="model" name="model" placeholder="Model" type="text">
                </div>
            </div>
            <div class="col">
                <div class="mb-3">
                    <label for="moc">Moc:</label>
                    <input autocomplete="off" class="form-control mx-auto w-auto" id="moc" name="moc" placeholder="Moc" type="text">
                </div>
            </div>
            <div class="col">
                <div class="mb-3">
                    <label for="kolor">Kolor:</label>
                    <input autocomplete="off" class="form-control mx-auto w-auto" id="kolor" name="kolor" placeholder="Kolor" type="text">
                </div>
            </div>
            <div class="col">
                <div class="form-check">
                    <label class="form-check-label" for="dostepnosc">Tylko dostępne</label>
                    <div class="checkbox-container">
                        <input class="form-check-input" id="dostepnosc" name="dostepnosc" type="checkbox" value="1">
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <button class="btn btn-primary" style="background-color: #1b244f; color: #ffffff" type="submit">Wyszukaj</button>
            </div>
        </div>
    </form>
</div>

<table>
    <thead>
        <tr>
            <th style="width: 20%">Tablica rejestracyjna</th>
            <th style="width: 20%">Model</th>
            <th style="width: 20%">Dostępność</th>
            <th style="width: 20%">Moc</th>
            <th style="width: 20%">Zdjęcie</th>
            <th style="width: 20%">Wynajem</th>
            <th style="width: 20%">Zwalnianie</th>
        </tr>

    </thead>
    <tbody>
        <!-- Loop through the database entries to display them in this table -->
        {% for radiowoz in radiowozy %}
        <tr>
            <td>
                {{ radiowoz[0] }}
            </td>
            <td>
                {{ radiowoz[4] }}
            </td>
            <td>
                {% if radiowoz[1] == 0 %}
                <span style="color: green;">Available!</span>
                {% else %}
                <span style="color: #ff5555;">Hours left: {{ radiowoz[1] }}</span>
                {% endif %}
            </td>
            <td>
                {{ radiowoz[2] }}
            </td>
            <td>
                {% if radiowoz[5] %}
                <img src="{{ url_for('static', filename='resources/' + radiowoz[5]) }}" style="width: 200px; height: auto;" alt="car image">
                {% else %}
                Brak
                {% endif %}
            </td>
            <td>
                {% if radiowoz[1] == 0 and rented_id == None %}
                <a class="btn btn-primary" style="background-color: #1b244f; color: #ffffff" href="{{ url_for('radiowoz_wynajem', id=radiowoz[0]) }}">Wynajmij</a>
                {% else %}
                <button class="btn btn-primary disabled" style="background-color: #ccc; color: #888;" disabled>Wynajmij</button>
                {% endif %}
            </td>
            <td>
                {% if radiowoz[0] == rented_id %}
                <a class="btn btn-primary" style="background-color: #1b244f; color: #ffffff" href="{{ url_for('release_radiowoz') }}">Zwolnij</a>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>

</table>

{% endblock %}
